.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.center-text {
    text-align: center;
}

.subtitle {
    font-size: 18px;
}

.inline {
    display: inline;
}

.vertial-align {
    vertical-align: middle;
}

.margin-top-small {
    margin-top: 16px;
}

.margin-top-medium {
    margin-top: 32px;
}

.margin-top-large {
    margin-top: 64px;
}

.margin-right-xsmall {
    margin-right: 8px;
}

.margin-right-small {
    margin-right: 16px;
}

.margin-right-medium {
    margin-right: 32px;
}

.margin-right-large {
    margin-right: 64px;
}